#one {
	background-color: red;
	width: 200px;
	height: 50px;
}
#two {
	background-color: yellow;
	position: relative;
	left: 30px;
	width: 200px;
	height: 50px;
}
#three {
	background-color: lightblue;
	width: 200px;
	height: 50px;
}
